USE [JiZhang]
GO
/****** Object:  Table [dbo].[fenleix]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fenleix](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[分类] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[fenleix] WITH ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[Jizhang]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jizhang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[账目日期] [datetime] NOT NULL,
	[账目说明] [nchar](50) NULL,
	[账户名称] [nchar](10) NOT NULL,
	[账目类型名称] [nchar](10) NOT NULL,
	[资金类型] [nchar](10) NOT NULL,
	[发生金额] [decimal](18, 2) NOT NULL,
	[账户余额] [decimal](18, 2) NOT NULL,
	[备注] [nchar](50) NULL,
	[记账日期] [datetime] NOT NULL,
	[操作人] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[Jizhang] WITH ROWCOUNT = 4, PAGECOUNT = 2
GO
/****** Object:  Table [dbo].[Mingxi]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mingxi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[账目日期] [datetime] NOT NULL,
	[账户名称] [nchar](10) NOT NULL,
	[账目说明] [nchar](10) NOT NULL,
	[发生金额] [decimal](18, 2) NOT NULL,
	[账户余额] [decimal](18, 2) NOT NULL,
	[资金类型] [nchar](10) NOT NULL,
	[转入/出账户名称] [nchar](10) NOT NULL,
	[账目类型] [nchar](10) NOT NULL,
	[记账日期] [date] NOT NULL,
	[操作人] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[Mingxi] WITH ROWCOUNT = 38, PAGECOUNT = 3
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[账号] [nchar](10) NOT NULL,
	[姓名] [nchar](10) NOT NULL,
	[手机号码] [nchar](50) NOT NULL,
	[密码] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[User] WITH ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[Zhanghu]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zhanghu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[账户名称] [nchar](10) NOT NULL,
	[助记码] [nchar](10) NOT NULL,
	[余额] [decimal](18, 2) NULL,
	[备注] [nchar](50) NULL,
	[更新时间] [datetime] NULL,
	[操作人] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[Zhanghu] WITH ROWCOUNT = 9, PAGECOUNT = 3
GO
/****** Object:  Table [dbo].[Zhangmu]    Script Date: 2018/4/2 15:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zhangmu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[类型名称] [nchar](10) NOT NULL,
	[助记码] [nchar](10) NOT NULL,
	[类型分类] [nchar](10) NOT NULL,
	[备注] [nchar](50) NULL,
	[追加时间] [datetime] NULL,
	[更新时间] [datetime] NULL,
	[操作人] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[Zhangmu] WITH ROWCOUNT = 15, PAGECOUNT = 2
GO
SET IDENTITY_INSERT [dbo].[fenleix] ON 

INSERT [dbo].[fenleix] ([ID], [分类]) VALUES (1, N'公共        ')
INSERT [dbo].[fenleix] ([ID], [分类]) VALUES (2, N'收入        ')
INSERT [dbo].[fenleix] ([ID], [分类]) VALUES (3, N'支出        ')
SET IDENTITY_INSERT [dbo].[fenleix] OFF
SET IDENTITY_INSERT [dbo].[Jizhang] ON 

INSERT [dbo].[Jizhang] ([ID], [账目日期], [账目说明], [账户名称], [账目类型名称], [资金类型], [发生金额], [账户余额], [备注], [记账日期], [操作人]) VALUES (3, CAST(0x0000A8A800FDE030 AS DateTime), N'今天公司发工资啦                                          ', N'工资卡（工商银行） ', N'工资        ', N'收 入       ', CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), N'                                                  ', CAST(0x0000A8A800FDF41C AS DateTime), N'yanglian  ')
INSERT [dbo].[Jizhang] ([ID], [账目日期], [账目说明], [账户名称], [账目类型名称], [资金类型], [发生金额], [账户余额], [备注], [记账日期], [操作人]) VALUES (1005, CAST(0x0000A8AA00A3D1E4 AS DateTime), N'今天发工资啦啦                                           ', N'支付宝       ', N'工资        ', N'收 入       ', CAST(6000.00 AS Decimal(18, 2)), CAST(6000.00 AS Decimal(18, 2)), N'好开心                                               ', CAST(0x0000A8AA00A45524 AS DateTime), N'yanglian11')
INSERT [dbo].[Jizhang] ([ID], [账目日期], [账目说明], [账户名称], [账目类型名称], [资金类型], [发生金额], [账户余额], [备注], [记账日期], [操作人]) VALUES (2007, CAST(0x0000A8B600E5293C AS DateTime), N'我要买衣服                                             ', N'现金        ', N'买买买衣服     ', N'支 出       ', CAST(-200.00 AS Decimal(18, 2)), CAST(1950.00 AS Decimal(18, 2)), N'买了好看的内裤                                           ', CAST(0x0000A8B600E59D40 AS DateTime), N'yanglian  ')
SET IDENTITY_INSERT [dbo].[Jizhang] OFF
SET IDENTITY_INSERT [dbo].[Mingxi] ON 

INSERT [dbo].[Mingxi] ([ID], [账目日期], [账户名称], [账目说明], [发生金额], [账户余额], [资金类型], [转入/出账户名称], [账目类型], [记账日期], [操作人]) VALUES (33, CAST(0x0000A8A800F6C0C0 AS DateTime), N'公交卡       ', N'对账收入      ', CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'对账收入      ', N'无         ', N'其他        ', CAST(0x033E0B00 AS Date), N'yanglian  ')
INSERT [dbo].[Mingxi] ([ID], [账目日期], [账户名称], [账目说明], [发生金额], [账户余额], [资金类型], [转入/出账户名称], [账目类型], [记账日期], [操作人]) VALUES (34, CAST(0x0000A8A800F6E190 AS DateTime), N'现金        ', N'转账        ', CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'转账收入      ', N'公交卡       ', N'公共        ', CAST(0x033E0B00 AS Date), N'yanglian  ')
INSERT [dbo].[Mingxi] ([ID], [账目日期], [账户名称], [账目说明], [发生金额], [账户余额], [资金类型], [转入/出账户名称], [账目类型], [记账日期], [操作人]) VALUES (35, CAST(0x0000A8A800F6E190 AS DateTime), N'公交卡       ', N'转账        ', CAST(-50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'转账支出      ', N'现金        ', N'公共        ', CAST(0x033E0B00 AS Date), N'yanglian  ')
SET IDENTITY_INSERT [dbo].[Mingxi] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [账号], [姓名], [手机号码], [密码]) VALUES (1, N'yanglian  ', N'杨炼        ', N'15112669383                                       ', N'123       ')
INSERT [dbo].[User] ([ID], [账号], [姓名], [手机号码], [密码]) VALUES (2, N'yanglian11', N'www       ', N'15122336523                                       ', N'123       ')
INSERT [dbo].[User] ([ID], [账号], [姓名], [手机号码], [密码]) VALUES (3, N'yang      ', N'yanglian  ', N'12536520124                                       ', N'123       ')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Zhanghu] ON 

INSERT [dbo].[Zhanghu] ([ID], [账户名称], [助记码], [余额], [备注], [更新时间], [操作人]) VALUES (22, N'公交卡       ', N'BUS2      ', CAST(0.00 AS Decimal(18, 2)), N'                                                  ', NULL, N'yanglian  ')
INSERT [dbo].[Zhanghu] ([ID], [账户名称], [助记码], [余额], [备注], [更新时间], [操作人]) VALUES (1020, N'现金        ', N'XIL       ', CAST(550.00 AS Decimal(18, 2)), N'sd                                                ', CAST(0x0000A8A900C647C4 AS DateTime), N'yanglian11')
INSERT [dbo].[Zhanghu] ([ID], [账户名称], [助记码], [余额], [备注], [更新时间], [操作人]) VALUES (1021, N'支付宝       ', N'XHI       ', CAST(6000.00 AS Decimal(18, 2)), N'                                                  ', CAST(0x0000A8AA00A45524 AS DateTime), N'yanglian11')
SET IDENTITY_INSERT [dbo].[Zhanghu] OFF
SET IDENTITY_INSERT [dbo].[Zhangmu] ON 

INSERT [dbo].[Zhangmu] ([ID], [类型名称], [助记码], [类型分类], [备注], [追加时间], [更新时间], [操作人]) VALUES (1, N'房租        ', N'fae3      ', N'公 共       ', NULL, CAST(0x0000A8A500C3D4D0 AS DateTime), NULL, N'yanglian  ')
INSERT [dbo].[Zhangmu] ([ID], [类型名称], [助记码], [类型分类], [备注], [追加时间], [更新时间], [操作人]) VALUES (2, N'工资        ', N'Gongsi    ', N'收 入       ', NULL, CAST(0x0000A8A500F4527C AS DateTime), NULL, N'yanglian  ')
INSERT [dbo].[Zhangmu] ([ID], [类型名称], [助记码], [类型分类], [备注], [追加时间], [更新时间], [操作人]) VALUES (3, N'理发        ', N'LI3       ', N'支 出       ', NULL, CAST(0x0000A8A500F7D550 AS DateTime), NULL, N'yanglian  ')
SET IDENTITY_INSERT [dbo].[Zhangmu] OFF
/****** Object:  Statistic [_WA_Sys_00000002_36B12243]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[fenleix]([分类]) WITH STATS_STREAM = 0x01000000010000000000000000000000CA68154A000000002B02000000000000EB01000000000000EF039951EF000000140000000000000024D000006E05A570070000006EBAB800A4A8000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F6C51715120002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000006C51715120002000200020002000200020002000020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000001_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000001_403A8C7D] ON [dbo].[Jizhang]([ID]) WITH STATS_STREAM = 0x01000000010000000000000000000000156FCAD90000000042020000000000000202000000000000380300003800000004000A00000000000000000001000000070000006E24B800A9A80000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000003E000000000000008E00000000000000960000000000000010000000000000002700000000000000100014000000803F000000000000803F03000000040000100014000000803F0000803F0000803F05000000040000010000007200AF00A9A800000000000000001040080000000000000003000000000000000000D03F0000000000000000000000000000000000000000000012C00000000000000CC0E23C3C2790DDD03F0300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000002_403A8C7D] ON [dbo].[Jizhang]([账目日期]) WITH STATS_STREAM = 0x01000000010000000000000000000000C076AC6300000000F201000000000000B2010000000000003D03FFFF3D00000008001703000000000000000000000000070000007DD39700AAA8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F30E0FD00A8A80000040000100018000000803F000000000000803F98DBA900A9A800000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000004_403A8C7D] ON [dbo].[Jizhang]([账户名称]) WITH STATS_STREAM = 0x01000000010000000000000000000000D6972EA0000000002B02000000000000EB01000000000000EF03003FEF000000140000000000000024D0000000000000070000007CD39700AAA8000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F0000000000000008000000000000001000240000000040000000000000803FE55D448D615308FFE55D4655F6944C8809FF2000040000FF01000000000000000200000001000000280000002800000000000000000000000A000000E55D448D615308FFE55D4655F6944C8809FF2000020000004000000000020A000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000005_403A8C7D] ON [dbo].[Jizhang]([账目类型名称]) WITH STATS_STREAM = 0x01000000010000000000000000000000C5514E750000000073020000000000003302000000000000EF030000EF000000140000000000000024D0000000000000070000007CD39700AAA8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000803F000000000000803FE55D448D20002000200020002000200020002000040000100024000000803F000000000000803F704E704E704E63880D6720002000200020002000040000FF010000000000000002000000020000002800000028000000000000000000000014000000E55D448D20002000200020002000200020002000704E704E704E63880D6720002000200020002000030000004000000000810A000000010A0A0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000006_403A8C7D] ON [dbo].[Jizhang]([资金类型]) WITH STATS_STREAM = 0x010000000100000000000000000000007AE4CE660000000073020000000000003302000000000000EF030000EF000000140000000000000024D0000000000000070000007CD39700AAA8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000803F000000000000803F3665200065512000200020002000200020002000040000100024000000803F000000000000803F2F652000FA512000200020002000200020002000040000FF01000000000000000200000002000000280000002800000000000000000000001400000036652000655120002000200020002000200020002F652000FA512000200020002000200020002000030000004000000000810A000000010A0A0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_403A8C7D]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_0000000B_403A8C7D] ON [dbo].[Jizhang]([操作人]) WITH STATS_STREAM = 0x01000000010000000000000000000000312E19E20000000083020000000000004302000000000000EF030000EF000000140000000000000024D0000002000000070000006E24B800A9A8000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100004040000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000002F000000000000007700000000000000C700000000000000CF0000000000000008000000000000001000240000004040000000000000803F790061006E0067006C00690061006E0020002000040000FF01000000000000000300000001000000280000002800000000000000000000000A000000790061006E0067006C00690061006E0020002000020000004000000000030A000000000100000079830401A8A800000000000000000040060000000000000001000000000000000000F03F0000000000000000000000000000000000000000000004C00000000000000CC000000000000000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3E52440B]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000003_3E52440B] ON [dbo].[Mingxi]([账户名称]) WITH STATS_STREAM = 0x01000000010000000000000000000000B3D83EC0000000000303000000000000C302000000000000EF030000EF000000140000000000000024D000000000000007000000CCDDA700A5A800001D000000000000001D00000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000240000000000A0410000E841000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000BC000000000000004F010000000000005701000000000000200000000000000047000000000000006E0000000000000095000000000000001000240000000040000000000000803F6C51A44E668F20002000200020002000200020000400001000240000005041000000000000803FB073D19120002000200020002000200020002000040000100024000000E040000000000000803F2F65D84E9D5B2000200020002000200020002000040000100024000000E040000000000000803F2D4EFD56F6944C88200020002000200020002000040000FF01000000000000000B0000000400000028000000280000000000000000000000280000006C51A44E668F2000200020002000200020002000B073D191200020002000200020002000200020002F65D84E9D5B20002000200020002000200020002D4EFD56F6944C88200020002000200020002000050000004000000000810A000000850A0A0000820A140000030A1E0000001D00000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_3E52440B]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_0000000A_3E52440B] ON [dbo].[Mingxi]([记账日期]) WITH STATS_STREAM = 0x01000000010000000000000000000000C1A9E76E00000000E801000000000000A801000000000000280373D12800000003000A000000000000000000002F65D807000000CBDDA700A5A800001D000000000000001D00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000E84100000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003C00000000000000440000000000000010000000000000002600000000000000100013000000B841000000000000803FFF3D0B040000100013000000C040000000000000803F003E0B0400001D00000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_3E52440B]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_0000000B_3E52440B] ON [dbo].[Mingxi]([操作人]) WITH STATS_STREAM = 0x01000000010000000000000000000000B4645A19000000002B02000000000000EB01000000000000EF030000EF000000140000000000000024D000000000000007000000CBDDA700A5A800001D000000000000001D00000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000E841000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000E841000000000000803F790061006E0067006C00690061006E0020002000040000FF01000000000000000B00000001000000280000002800000000000000000000000A000000790061006E0067006C00690061006E00200020000200000040000000000B0A000000001D00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_108B795B]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000002_108B795B] ON [dbo].[User]([账号]) WITH STATS_STREAM = 0x010000000100000000000000000000000A054FC4000000002B02000000000000EB01000000000000EF030000EF000000140000000000000024D00000000000000700000089BFE70084A8000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F790061006E0067006C00690061006E0020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A000000790061006E0067006C00690061006E0020002000020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_108B795B]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000005_108B795B] ON [dbo].[User]([密码]) WITH STATS_STREAM = 0x010000000100000000000000000000009470A9530000000076020000000000003602000000000000EF030000EF000000140000000000000024D0000000000000070000005380B900A2A8000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000C200000000000000CA0000000000000010000000000000003700000000000000100024000000803F000000000000803F31003100310020002000200020002000200020000400001000240000000040000000000000803F3100320033002000200020002000200020002000040000FF01000000000000000300000002000000280000002800000000000000000000001300000031003100310020002000200020002000200020003200330020002000200020002000200020000400000040000000004001000000810901000002090A0000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000001_22AA2996]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000001_22AA2996] ON [dbo].[Zhanghu]([ID]) WITH STATS_STREAM = 0x010000000100000000000000000000009C5675C0000000000902000000000000C901000000000000380304C63800000004000A00000000000000000008001300070000000FB89600A4A80000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F04000000040000100014000000803F0000803F0000803F06000000040000100014000000803F0000803F0000803F080000000400000500000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_22AA2996]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000002_22AA2996] ON [dbo].[Zhanghu]([账户名称]) WITH STATS_STREAM = 0x01000000010000000000000000000000C0C5A926000000000403000000000000C402000000000000EF030000EF000000140000000000000024D000000000000007000000F311EB00A4A8000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000240000000000A04100008040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000BC0000000000000050010000000000005801000000000000200000000000000047000000000000006E000000000000009500000000000000100024000000803F000000000000803FB073D19120002000200020002000200020002000040000100024000000803F000000000000803F2F65D84E9D5B2000200020002000200020002000040000100024000000803F000000000000803F2D4EFD569C511A4EF6944C882000200020002000040000100024000000803F000000000000803F2D4EFD56F6944C88200020002000200020002000040000FF010000000000000004000000040000002800000028000000000000000000000026000000B073D191200020002000200020002000200020002F65D84E9D5B20002000200020002000200020002D4EFD569C511A4EF6944C882000200020002000F6944C88200020002000200020002000060000004000000000810A000000810A0A00004002140000810816000001081E0000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_22AA2996]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000003_22AA2996] ON [dbo].[Zhanghu]([助记码]) WITH STATS_STREAM = 0x01000000010000000000000000000000E6F3F211000000000403000000000000C402000000000000EF030000EF000000140000000000000024D000000000000007000000D91F0C01A3A8000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000240000000000A04100008040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000BC0000000000000050010000000000005801000000000000200000000000000047000000000000006E000000000000009500000000000000100024000000803F000000000000803F4200550053003300200020002000200020002000040000100024000000803F000000000000803F4300480033002000200020002000200020002000040000100024000000803F000000000000803F58004A0034002000200020002000200020002000040000100024000000803F000000000000803F58004A004C003200200020002000200020002000040000FF0100000000000000040000000400000028000000280000000000000000000000260000004200550053003300200020002000200020002000430048003300200020002000200020002000200058004A00340020002000200020002000200020004C003200200020002000200020002000060000004000000000810A000000810A0A00004002140000810816000001081E0000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_22AA2996]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000007_22AA2996] ON [dbo].[Zhanghu]([操作人]) WITH STATS_STREAM = 0x01000000010000000000000000000000C448B196000000002B02000000000000EB01000000000000EF030000EF000000140000000000000024D000000400000007000000D91F0C01A3A8000004000000000000000400000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100008040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F0000000000000008000000000000001000240000008040000000000000803F790061006E0067006C00690061006E0020002000040000FF01000000000000000400000001000000280000002800000000000000000000000A000000790061006E0067006C00690061006E0020002000020000004000000000040A000000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000001_3B75D760]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000001_3B75D760] ON [dbo].[Zhangmu]([ID]) WITH STATS_STREAM = 0x01000000010000000000000000000000402EE93C000000003A03000000000000FA02000000000000380300003800000004000A0000000000000000000000000007000000944ED800B0A800000F000000000000000F000000000000000000803F8988883D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000A0000000A000000010000001400000000008040000070410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019000000000000000000000000000000360100000000000086010000000000008E01000000000000500000000000000067000000000000007E000000000000009500000000000000AC00000000000000C300000000000000DA00000000000000F10000000000000008010000000000001F01000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F04000000040000100014000000803F000000400000803F08000000040000100014000000803F0000803F0000803F0A000000040000100014000000803F0000803F0000803F0C000000040000100014000000803F000000000000803F0D000000040000100014000000803F000000000000803F11000000040000100014000000803F000000000000803F14000000040000100014000000803F000000000000803FEA0300000400000100000016DEF700A5A800000000000000000840030000000000000002000000000000605555D53F0000000000002840000000000000000000000000000014400000000000001CC0919B0B6677A4EF3F0F00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[Zhangmu]([类型名称]) WITH STATS_STREAM = 0x01000000010000000000000000000000189E9FBC00000000CA050000000000008A05000000000000EF03803FEF000000140000000000000024D000000014000007000000FEB50601A9A800000F000000000000000F00000000000000000000002549923D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E0000000E00000001000000240000000000A04100007041000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000009202000000000000BE030000000000000E04000000000000160400000000000070000000000000009700000000000000BE00000000000000E5000000000000000C0100000000000033010000000000005A010000000000008101000000000000A801000000000000CF01000000000000F6010000000000001D0200000000000044020000000000006B02000000000000100024000000803F000000000000803F6100730064006600200020002000200020002000040000100024000000803F000000000000803F6400670065002000200020002000200020002000040000100024000000803F000000000000803F3575DD8B398D2000200020002000200020002000040000100024000000803F000000000000803F3F62DF79200020002000200020002000200020000400001000240000000040000000000000803FE55D448D20002000200020002000200020002000040000100024000000803F000000000000803FE55D5C4F6588348D200020002000200020002000040000100024000000803F000000000000803FA27E055320002000200020002000200020002000040000100024000000803F000000000000803FD88F3E6B20002000200020002000200020002000040000100024000000803F000000000000803FA44E1A90398D2000200020002000200020002000040000100024000000803F000000000000803F1F503E6B20002000200020002000200020002000040000100024000000803F000000000000803F0674D15320002000200020002000200020002000040000100024000000803F000000000000803FC5654C88EF8D398D200020002000200020002000040000100024000000803F000000000000803F704EF696DF982000200020002000200020002000040000100024000000803F000000000000803F704E704E704E63880D6720002000200020002000040000FF01000000000000000A0000000A000000280000002800000000000000000000006300000061007300640066002000200020002000200020003575DD8B398D20002000200020002000200020003F62DF7920002000200020002000200020002000E55D448D200020002000200020002000200020005C4F6588348D200020002000200020002000D88F3E6B20002000200020002000200020002000A44E1A90398D20002000200020002000200020000674D15320002000200020002000200020002000C5654C88EF8D398D200020002000200020002000704E704E704E63880D67200020002000200020000C0000004000000000810A000000810A0A0000810A140000C0011E000081091F00000109280000810A310000810A3B0000810A450000810A4F0000010A5900000001000000EEFD0001A5A800000000000000001440080000000000000004000000000000A09999C93F00000000000008400000000000000000000000000000F83F00000000000021C070A3F6741FC2F03F0F00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3B75D760]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000003_3B75D760] ON [dbo].[Zhangmu]([助记码]) WITH STATS_STREAM = 0x010000000100000000000000000000009F5B00A500000000BD050000000000007D05000000000000EF030000EF000000140000000000000024D00000EF000000070000007C22C600A9A800000E000000000000000E00000000000000000000002549923D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E0000000E00000001000000240000000000A04100006041000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000009202000000000000B1030000000000000104000000000000090400000000000070000000000000009700000000000000BE00000000000000E5000000000000000C0100000000000033010000000000005A010000000000008101000000000000A801000000000000CF01000000000000F6010000000000001D0200000000000044020000000000006B02000000000000100024000000803F000000000000803F42004C0069006E00670020002000200020002000040000100024000000803F000000000000803F4200550053002000200020002000200020002000040000100024000000803F000000000000803F6600610065003300200020002000200020002000040000100024000000803F000000000000803F47006F006C003200200020002000200020002000040000100024000000803F000000000000803F47006F006E006700730069002000200020002000040000100024000000803F000000000000803F4800450032002000200020002000200020002000040000100024000000803F000000000000803F4800450033002000200020002000200020002000040000100024000000803F000000000000803F4800450033003300200020002000200020002000040000100024000000803F000000000000803F48004F004E004700200020002000200020002000040000100024000000803F000000000000803F4C00490033002000200020002000200020002000040000100024000000803F000000000000803F4C00560020002000200020002000200020002000040000100024000000803F000000000000803F4D00410069006E00200020002000200020002000040000100024000000803F000000000000803F7300730020002000200020002000200020002000040000100024000000803F000000000000803F7300730065002000200020002000200020002000040000FF01000000000000000A0000000A000000280000002800000000000000000000005500000042004C0069006E00670020002000200020002000660061006500330020002000200020002000200047006F006C0032002000200020002000200020004800450032002000200020002000200020002000330020002000200020002000200020004C004900330020002000200020002000200020005600200020002000200020002000200020007300730020002000200020002000200020002000650020002000200020002000200020000F0000004000000000810A000000810A0A0000810A140000C0021E000081082000004001280000810729000001070D0000C001300000810931000001093A00004002430000810845000001084D0000000100000015DEF700A5A800000000000000000840030000000000000003000000000000605555D53F0000000000001040000000000000004000000000000010400000000000001CC0BA5C9BDE5ECDF23F0E00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3B75D760]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000004_3B75D760] ON [dbo].[Zhangmu]([类型分类]) WITH STATS_STREAM = 0x0100000001000000000000000000000039883A63000000001303000000000000D302000000000000EF030024EF000000140000000000000024D000000069006E070000005BBCBA00A9A800000E000000000000000E0000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100006041000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000008D00000000000000070100000000000057010000000000005F0100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F6C512000715120002000200020002000200020000400001000240000008040000000000000803F36652000655120002000200020002000200020000400001000240000001041000000000000803F2F652000FA512000200020002000200020002000040000FF01000000000000000A00000003000000280000002800000000000000000000001E0000006C5120007151200020002000200020002000200036652000655120002000200020002000200020002F652000FA512000200020002000200020002000040000004000000000810A000000820A0A0000070A1400000001000000EDFD0001A5A800000000000000001440080000000000000003000000000000605555D53F00000000000000000000000000000000000000000000E03F00000000000021C04E6C770AC57EE03F0E00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_3B75D760]    Script Date: 2018/4/2 15:01:24 ******/
CREATE STATISTICS [_WA_Sys_00000008_3B75D760] ON [dbo].[Zhangmu]([操作人]) WITH STATS_STREAM = 0x0100000001000000000000000000000011172FAC0000000083020000000000004302000000000000EF039C03EF000000140000000000000024D00000FFFFFFFF070000005ABCBA00A9A800000E000000000000000E00000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100006041000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000002F000000000000007700000000000000C700000000000000CF0000000000000008000000000000001000240000006041000000000000803F790061006E0067006C00690061006E0020002000040000FF01000000000000000A00000001000000280000002800000000000000000000000A000000790061006E0067006C00690061006E00200020000200000040000000000A0A0000000001000000DD0EE900A8A800000000000000001040090000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E03F00000000000023C000000000000000000E00000000000000
GO
